/* You can add global styles to this file, and also import other style files */
input[type="text"]:focus {
  outline: none;
  border:none;
}
input[type="text"]:focus:hover {
  outline: none;;
  border:none;
  border-radius:0;
  background-color: white;
}

li:hover {
  outline: none;
  box-shadow: 0px 0px 5px #61C5FA;
  border:1px solid #5AB0DB;
  border-radius:0
}

.focus{
  outline: none;
  box-shadow: 0px 0px 5px #f32222;
  border:1px solid #f32222;
  border-radius:0
}

#menu{
  position: relative;
  background-color: whitesmoke;
  height: 60%;
  width: 80%;
}


#liste_album{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#recherche{
 display: flex;
 position: fixed;
 top: 5%;
 justify-content: center;
 align-items: center;
  width: 80%;
  height: 5%;

}
#rechercheContent{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 50px;

}



#rechercheInput{
  position: relative;
  width: 79%;
  height: 50%;
   margin: 0%;
   padding: 2%;
   border: none;
   background-color: transparent;
   border-radius: 50px;
   font-size: large;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
.rechercheBtn{

  height: 100%;
  width: 7%;
  background-color: transparent;
  border: none;

}

.rechercheBtn:hover{
  cursor: pointer;
}
ul{
  margin: 0%;
  padding: 0%;

}
li{
  width: 100%;
   height: 50px;
  list-style: none;
  background-color: #ecf0f3;
  border: none;
  margin: 1%;



}

.contenu{
  border: none;
  background-color: #ecf0f3;
  width: 100%;
  font-size: large;
  padding-left: 1%;
}

.contenuAlbum{
  display: flex;
  justify-content: space-between;
  height: 99%;
  flex-direction: row;
  border:none;
  background-color: #ecf0f3;
}


#contenaiCrud{
  position: relative;
  left: 0%;

  width:80%;
}
.imgGrud{
  margin: 2px;
  margin-left: 5px;
}
.imgGrud:hover {
  cursor: pointer;
  transform: scale(2px);

}
.curseur{
  caret-color: transparent;
}
